<template name="carSubmit">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="producer">Producer</label>
            <div class="controls">
                <input name="producer" type="text" value="" placeholder="Name of producer" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input name="name" type="text" value="" placeholder="Name" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="http://..." />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</template>